/* RESET */
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* CONTAINER */
    .container{
    width: 700px;
    margin: auto;
    }
/* HEADER */
    .nav-bar{
        background-color: aquamarine;
        height: 100px;
        padding: 25px;
        
    }

    nav{
        background-color: yellow;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: 2px dashed black;
        
    }

    .logo{
        border-right: 3px dashed black;
        text-align: left;
        padding: 10px;
    }
    .link{
        text-align: center;
        padding: 10px;
    }
    .login{
        border-left:3px dashed black; 
        text-align: right;
        padding: 10px;
    }

    /* PRIMA SEZIONE BANNER */
    .banner-blu{
        height: 500px;
        background-color: blue;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
        
    

    .banner-rosa{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        background-color: palevioletred;
        width: 600px;
    }   
    
    /* PRIMA SEZIONE A DUE COLONNE */
    .riga-sup{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        
    }
    .blu{

        height: 350px;
        display: flex;
        justify-content: center;
        width: 60%;
        background-color: rgb(4, 163, 255);
        border: 1px dashed black;
    }    
    
    .rosa{
        height: 350px;
        display: flex;
        justify-content: center;
        
        width: 40%;
        background-color: rgb(253, 133, 199);
        border: 1px dashed black;
    }

    
        

    